In [ ]:
#!pip install ibapi

In [1]:
import sys
sys.path.append("/ibkr")

import pandas as pd
from ibapi.order import Order
import passwords
from databaseClass import DB
from utils import generate_df_from_sql_file, generate_list_from_sql_file
from utils import DataProcessor, ModelBuilder, Predictor
import datetime
pd.set_option('display.max_rows', None)

/usr/lib/python3/dist-packages/requests/__init__.py:89: RequestsDependencyWarning: urllib3 (2.0.3) or chardet (3.0.4) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({}) doesn't match a supported "

In [ ]:

def paper_trade(db, app, api_thread, contract, model, time_steps, look_ahead):
    def predict_price():
        # get the current time
        now = datetime.datetime.now()
        # get the time one minute ago
        one_minute_ago = now - datetime.timedelta(minutes=1)
        
        # query the database for all rows from the last minute
        new_data = db.DBtoDF(f"SELECT * FROM tickdata_jun14 WHERE timestamp BETWEEN '{one_minute_ago}' AND '{now}'")
        
        if not new_data.empty:
            # Reshape data
#             new_data = new_data.pivot_table(index='timestamp', columns='tickType', values=['price', 'volume'])
#             new_data.columns = ['_'.join(map(str,i)) for i in new_data.columns]
#             new_data = new_data.resample('1S').agg({'price_1': 'last', 'price_2': 'last', 'price_4': 'last', 'volume_5': 'sum'}).ffill()
            
            # Process
            processor = DataProcessor(new_data) #do I need to pass this in the function
            processor.process_df() # Now I can access the data with processor.processed_df
            

            # Process and predict
#             preprocessor.df = new_data
#             preprocessor.process_df()
#             predictor = Predictor(model, preprocessor)
#             predictions = predictor.predict(look_ahead, time_steps)
#             price = predictor.rescale_prediction(predictions[-1])

        



            # Send order
            order = Contract()
            order.symbol = "ES"
            order.secType = "FUT"
            order.exchange = "CME"
            order.currency = "USD"
            order.lastTradeDateOrContractMonth = "202309"

            if price > new_data['price_4'][-1]:
                # Buy if the predicted price is higher than the current price
                app.placeOrder(app.nextOrderId(), order, Order(action="BUY", totalQuantity=1, orderType="LMT", lmtPrice=price))
            elif price < new_data['price_4'][-1]:
                # Sell if the predicted price is lower than the current price
                app.placeOrder(app.nextOrderId(), order, Order(action="SELL", totalQuantity=1, orderType="LMT", lmtPrice=price))

    while True:
        time.sleep(60)  # Wait for a minute
        predict_price()

if __name__ == "__main__":
    app, api_thread, contract = app_connect()
    # Load preprocessor and model
    preprocessor = DataProcessor(df=None)
    model = load_model('model_path')  # replace 'model_path' with the path to your model
    paper_trade(app, api_thread, contract, model, preprocessor, time_steps=10, look_ahead=1)

In [ ]:
def paper_trade(db, app, api_thread, contract, preprocessor, model_builder, predictor, time_steps, look_ahead):

    # Get current time
    now = datetime.datetime.now()

    # Get the time one minute ago
    one_minute_ago = now - datetime.timedelta(minutes=1)
    
    # Get the time five minutes ago
    five_minutes_ago = now - datetime.timedelta(minutes=5)
        
    # Query the database for all rows from the last minute
    new_data = db.DBtoDF(f"SELECT * FROM tickdata_jun14 WHERE timestamp BETWEEN '{five_minutes_ago}' AND '{now}'")

    # Process new_data into the proper format for the model
    preprocessor.df = new_data
    preprocessor.process_df()
    # After preprocessing and filling, trim data to only last minute
    preprocessor.processed_df = preprocessor.processed_df.loc[one_minute_ago:]

    preprocessor.scale_shift_data(look_ahead)
    
    X, y = preprocessor.scaled_df, preprocessor.shifted_df['Close']
    X, y = preprocessor.create_dataset(X, y, time_steps)

    # Load the model
    model_builder.load_model("path_to_your_model")

    # Assign the model to the predictor
    predictor.model = model_builder.model

    # Predict the next 'look_ahead' steps
    predictions = predictor.predict(look_ahead, time_steps)

    # Rescale predictions back to the original scale
    rescaled_predictions = predictor.rescale_prediction(predictions)
    
    # Send order
    order = Contract()
    order.symbol = "ES"
    order.secType = "FUT"
    order.exchange = "CME"
    order.currency = "USD"
    order.lastTradeDateOrContractMonth = "202309"

    if price > new_data['price_4'][-1]:
        # Buy if the predicted price is higher than the current price
        app.placeOrder(app.nextOrderId(), order, Order(action="BUY", totalQuantity=1, orderType="LMT", lmtPrice=price))
    elif price < new_data['price_4'][-1]:
        # Sell if the predicted price is lower than the current price
        app.placeOrder(app.nextOrderId(), order, Order(action="SELL", totalQuantity=1, orderType="LMT", lmtPrice=price))

    while True:
        time.sleep(60)  # Wait for a minute
        predict_price()
        
def app_connect():
    db = DB(userName=userName, userPass=userPass, dataBaseName=dataBaseName, host=host, docker=False)
    app = App(db, tableName="tickdata_jun14")
    app.connect("127.0.0.1", 7497, 3)
    time.sleep(5) #use for paper trading
    contract = Contract()
    contract.symbol = "ES"
    contract.secType = "FUT"
    contract.exchange = "CME"
    contract.currency = "USD"
    contract.lastTradeDateOrContractMonth = "202309" # Please check the contract month

    # Start the socket in a thread
    api_thread = threading.Thread(target=app.run, daemon=True)
    api_thread.start()
    return app, api_thread, contract

if __name__ == "__main__":
    app, api_thread, contract = app_connect()
    # Load preprocessor and model
    preprocessor = DataProcessor(df=None)
    model = load_model('model_path')  # replace 'model_path' with the path to your model
    paper_trade(app, api_thread, contract, model, preprocessor, time_steps=10, look_ahead=1)

In [49]:
# now = datetime.datetime.now()
now = datetime.datetime(2023, 6, 13, 14, 44, 15, 291)
one_minute_ago = now - datetime.timedelta(minutes=1)

In [50]:
now

datetime.datetime(2023, 6, 13, 14, 44, 15, 291)

In [51]:
one_minute_ago

datetime.datetime(2023, 6, 13, 14, 43, 15, 291)

In [52]:
userName = passwords.userName
userPass = passwords.userPass
dataBaseName = passwords.dataBaseName
host = passwords.host

db = DB(userName=userName, userPass=userPass, dataBaseName=dataBaseName, host='ibkr_db', docker=True)

In [53]:
new_data = db.DBtoDF(f"SELECT * FROM tickdata_jun14 WHERE timestamp BETWEEN '{one_minute_ago}' AND '{now}'")
#new_data = db.DBtoDF(f"SELECT * FROM tickdata_jun13 LIMIT 100")

/ibkr/databaseClass.py:111: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, con=conn)

In [54]:
new_data.empty

False

In [55]:
processor = DataProcessor(new_data)

In [56]:
processor.process_df()

In [57]:
processor.processed_df.head()

                        Open     High      Low    Close  Volume
timestamp
2023-06-13 14:43:15  4408.00  4408.25  4408.00  4408.25    41.0
2023-06-13 14:43:16  4408.00  4408.25  4408.00  4408.25     2.0
2023-06-13 14:43:17  4408.00  4408.25  4408.00  4408.25    31.0
2023-06-13 14:43:18  4408.00  4408.25  4408.00  4408.00    94.0
2023-06-13 14:43:19  4408.25  4408.50  4408.25  4408.25     8.0

In [ ]:
processor.scale_shift_data(look_ahead=5)

In [ ]:
processor.scaled_df

In [20]:
new_data.head(20)

    ticktype    price  volume                  timestamp
0          4  4422.00       0 2023-06-14 17:53:48.659249
1          5     0.00       1 2023-06-14 17:53:48.689065
2          4  4421.75       0 2023-06-14 17:53:49.059699
3          5     0.00       1 2023-06-14 17:53:49.089547
4          4  4422.00       0 2023-06-14 17:53:50.061613
5          5     0.00       5 2023-06-14 17:53:50.089562
6          5     0.00       5 2023-06-14 17:53:50.096503
7          5     0.00       1 2023-06-14 17:53:51.062605
8          5     0.00       8 2023-06-14 17:53:53.166516
9          1  4422.00       0 2023-06-14 17:53:53.190631
10         2  4422.25       0 2023-06-14 17:53:53.200824
11         5     0.00      55 2023-06-14 17:53:54.167366
12         4  4422.25       0 2023-06-14 17:53:54.569315
13         5     0.00       1 2023-06-14 17:53:54.593883
14         5     0.00       1 2023-06-14 17:53:54.603791
15         4  4422.00       0 2023-06-14 17:53:54.769381
16         5     0.00      28 2023-06-14 17:53:54.792354
17         5     0.00      28 2023-06-14 17:53:54.798935
18         5     0.00      17 2023-06-14 17:53:55.770499
19         5     0.00      34 2023-06-14 17:53:56.171600